<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :description, autofocus: true %>
  <%= f.input :expected_answer, as: :text %>
  <%= f.input :csv_tag_names %>
  <%= f.input :repeat, as: :boolean if f.object.respond_to?(:repeat) %>
  <div class="field is-grouped">
    <%= f.button :submit, class: "control button is-dark" %>
    <%= link_to "Cancel", :back, class: "control button is-light" %>
  </div>
<% end %>
