%section
  .container
    %h1 Let's learn something new today
    %h2 Add all your questions and answers, then come back every day to train your memory.
    = link_to "Add a new question", new_question_path, class: "button is-dark"
    %hr
    = render "shared/notifications"
    - @questions.each do |question|
      %article.message
        .message-body.is-dark
          %p.has-text-weight-bold
            = question.description
          %p
            = question.answer
          %p.is-size-7
            = link_to "Edit", edit_question_path(question)
            = link_to "Destroy", question, method: :delete, data: { confirm: "Are you sure?" }


