%section
  .container
    %h1 Let's learn something new today
    %h2 Answer the following questions, then rate how well you performed.
    .columns
      .column.is-8
        = render "shared/notifications"
        .card
          .card-content
            .content
              %p.title
                = @question.description
              = link_to "Show answer", "#", data: { answer_for_question: "question_#{@question.id}" }
              %p.is-hidden[@question, "answer"]
                = @question.expected_answer
          %footer.card-footer[@question, "disabled_links"]
            - (0..5).each do |grade|
              %a.card-footer-item{ disabled: true }
                = grade
          %footer.card-footer.is-hidden[@question, "enabled_links"]
            - (0..5).each do |grade|
              = link_to grade, question_answers_path(question_id: @question, grade: grade), method: :post, class: "card-footer-item"
