%section
  .container
    .columns
      .column.is-offset-2.is-8
        = render "shared/notifications"
        - if @question.present?
          %h2 Answer the following questions, then rate your performance
          .card
            .card-content
              .content
                - if @question.tag_names
                  .tags
                    - @question.tag_names.each do |tag_name|
                      %span.tag.is-dark
                        = tag_name
                %p.title
                  = @question.description
                = link_to "Show answer", "#", data: { answer_for_question: "question_#{@question.id}" }
                %p.is-hidden{ id: "answer_question_#{@question.id}" }
                  = @question.expected_answer
            %footer.card-footer{ id: "disabled_links_question_#{@question.id}" }
              - (0..5).each do |grade|
                %a.card-footer-item{ disabled: true }
                  = grade
            %footer.card-footer.is-hidden{ id: "enabled_links_question_#{@question.id}" }
              - (0..5).each do |grade|
                = link_to grade, question_answers_path(question_id: @question, grade: grade), method: :post, class: "card-footer-item"
          %br
          .content.is-small
            0 - complete blackout;
            1 - incorrect response, the correct one was remembered;
            2 - incorrect response, the correct one seemed easy to recall;
            3 - correct response, recalled with serious difficulty;
            4 - correct response after a hesitation;
            5 - perfect response
        - else
          %h1 Good job!
          %h2 You've answered all the questions for today. Come back tomorrow for more.
