%section
  .container
    .columns
      .column.is-4.is-offset-4
        %h2 My profile
        = render "shared/notifications"
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
          = f.input :name
          = f.input :email
          = f.input :password
          = f.input :password_confirmation
          .field.is-grouped
            = f.submit "Save", class: "control button is-dark"
            = link_to "Cancel", root_path, class: "control button is-light"
          %hr
          = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
