<section class="narrow">
  <%= render "shared/notifications" %>
  <h1>Profile</h1>
  <h2>Edit your account details</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <div class="field horizontal">
      <%= f.submit "Save", class: "button primary" %>
      <%= link_to "Cancel", root_path, class: "button" %>
    </div>
  <% end %>
  <p>
    <%= button_to "Generate 500 random questions", generate_questions_path, class: "link", method: :post, data: { controller: "confirm", confirm_message_value: "Are you sure?" } %>
    &nbsp;•&nbsp;
    <%= button_to "Cancel my account", registration_path(resource_name), class: "link", method: :delete, data: { controller: "confirm", confirm_message_value: "Are you sure?" } %>
  </p>
</section>
