%section
  .container
    .columns
      .column.is-4.is-offset-4
        %h2 Change your password
        = render "shared/notifications"
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.input :reset_password_token, as: :hidden
          = f.input :password
          = f.input :password_confirmation
          .field.is-grouped
            = f.submit "Change my password", class: "control button is-dark"
            = link_to "Cancel", root_path, class: "control button is-light"
