<section class="md:w-1/3 md:pt-24">
  <%= render "shared/notifications" %>
  <h1>Change your password</h1>
  <h2 class="subtitle">Fill in the details in order to change your password</h2>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <div class="field horizontal">
      <%= f.submit "Change my password", class: "button primary" %>
      <%= link_to "Cancel", root_path, class: "button" %>
    </div>
  <% end %>
</section>
