%section
  .container
    .columns
      .column.is-4.is-offset-4
        %h2 Forgot your password?
        = render "shared/notifications"
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = f.input :email
          .field.is-grouped
            = f.submit "Reset password", class: "control button is-dark"
            = link_to "Cancel", root_path, class: "control button is-light"
