%section
  .container
    .columns
      .column.is-6.is-offset-3
        = render "shared/notifications"
        %h1 Forgot your password?
        %h2 Fill in the details below in order to reset your password
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = f.input :email
          .field.is-grouped
            = f.submit "Reset password", class: "control button is-dark"
            = link_to "Cancel", root_path, class: "control button is-light"
