%section
  .container
    .columns
      .column.is-offset-2.is-8
        = render "shared/notifications"
        %h1 Edit your tag
        = simple_form_for(@tag) do |f|
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
          = f.input :name, autofocus: true
          .field.is-grouped
            = f.button :submit, class: "control button is-dark"
            = link_to "Cancel", :back, class: "control button is-light"
