<section>
  <div class="container">
    <div class="columns">
      <div class="column is-offset-2 is-8">
        <%= render "shared/notifications" %>
        <h1>Edit your tag</h1>
        <%= simple_form_for(@tag) do |f| %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <%= f.input :name, autofocus: true %>
          <div class="field is-grouped">
            <%= f.button :submit, class: "control button is-dark" %>
            <%= link_to "Cancel", :back, class: "control button is-light" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
