%section
  .container
    .columns
      .column.is-offset-4.is-4
        = render "shared/notifications"
        %h1 Log in
        %h2 You're almost there
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
          = f.input :email
          = f.input :password, hint: false
          = f.input :remember_me, as: :boolean
          .field.is-grouped
            = f.submit "Log in", class: "control button is-dark"
            = link_to "Cancel", root_path, class: "control button is-light"
        %hr
        = link_to "Forgot your password?", new_user_password_path
