<section class="md:w-1/3 md:pt-24">
  <%= render "shared/notifications" %>
  <h1>Log in</h1>
  <h2 class="subtitle">You're almost there</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :email %>
    <%= f.input :password, hint: false %>
    <%= f.input :remember_me, as: :boolean, wrapper: "horizontal" %>
    <div class="field horizontal">
      <%= f.submit "Log in", class: "button primary" %>
      <%= link_to "Cancel", root_path, class: "button" %>
    </div>
  <% end %>
  <%= link_to "Forgot your password?", new_user_password_path %>
</section>
